name: docs
on:
    push:
        branches:
            - main
            - master
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Free disk space
              run: |
                sudo rm -rf /usr/share/dotnet
                sudo rm -rf /usr/local/lib/android
                sudo rm -rf /opt/ghc
                sudo apt-get clean
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: 3.11
            - name: Install GDAL
              run: |
                  python -m pip install --upgrade pip
                  pip install --no-cache-dir Cython
                  pip install --find-links=https://girder.github.io/large_image_wheels --no-cache GDAL
            - name: Test GDAL installation
              run: |
                  python -c "from osgeo import gdal"
                  gdalinfo --version
            - name: Install PyTorch (CPU only)
              run: |
                  pip install torch --index-url https://download.pytorch.org/whl/cpu

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install --user --no-cache-dir Cython
                  pip install --user -r requirements.txt -r requirements_dev.txt
                  pip install .
            - name: Discover typos with codespell
              run: |
                  codespell --skip="*.csv,*.geojson,*.json,*.js,*.html,*cff,./.git" --ignore-words-list="aci,hist" || true
            - name: PKG-TEST
              run: |
                  python -m unittest discover tests/
            - run: mkdocs gh-deploy --force

